.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
main {
  min-height: 90vh;
  display: grid;
  grid-template-areas: "main main main" "aside";
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
}
aside {
  background-color: #3E423A;
  color: #fff;
}
.add_unassigned {
  background-color: #00AAFF;
  position: absolute;
  bottom: 0;
  padding: 0.5em;
  color: #000;
}

.tables {
  margin: 3em;
}
.tableView {
  background-color: grey;
  border-radius: 5%;
  box-shadow: 0 0 6px 1px;
  min-height: 300px;
  width: 300px;
  margin: 1em;
  position: relative;
  transform: scale(1);
  transition: all 1s ease-in-out;
}
.drag {
  border: 0.5em dashed;
  transform: scale(1.2);
  background-color: darkgrey;
  transition: all 1s ease-in-out;
}
.tableContainer {
  margin: 3em;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.tableContainer h4 {
  color: #fff;
}
footer.tableFooter {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  bottom: 0;
  background-color: lightblue;
  padding: 0.5em;
  border-radius: 0 0 1em 1em;
}
footer.tableFooter__Btn {
  display: flex;
  justify-content: space-between;
}
/* Table Form: */
#tableForm .newTableInputs {
  width: fit-content;
  margin: 4em auto 1em;
}
.inputRow {
  text-align: initial;
  margin: 1em;
}
.inputRow * {
  margin: 0.5em;
}
#seats {
  width: 4em;
}

.guestForm * {
  margin: 0.5em;
}
.button__add-guest {
  border-radius: 2em;
  background-color: green;
  color: #fff;
  padding: 1em;
  font-size: 1.2em;
}

.guestTable {
  border-spacing: 1em;
  margin: 0 auto;
}
