.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
main {
  min-height: 90vh;
  display: grid;
  grid-template-areas: "main main main" "aside";
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
}
aside {
  background-color: #3E423A;
  color: #fff;
  position: sticky;
  max-height: 100vh;
  overflow-y: scroll;
  top: 0;
}
.add_unassigned {
  background-color: #00AAFF;
  padding: 0.5em;
  color: #000;
}

.tables {
  margin: 3em;
}
.tableView {
  background-color: grey;
  border-radius: 5%;
  box-shadow: 0 0 6px 1px;
  min-height: 300px;
  width: 300px;
  margin: 1em;
  display: flex;
  flex-direction: column;
  position: relative;
  transform: scale(1);
  transition: all 1s ease-in-out;
}
.drag {
  border: 0.5em dashed;
  transform: scale(1.2);
  background-color: darkgrey;
  transition: all 1s ease-in-out;
}
.tableContainer {
  margin: 3em;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.tableContainer h4 {
  color: #fff;
  flex: 1 0 auto;
}
footer.tableFooter {
  flex-shrink: 0;
  box-sizing: border-box;
  width: 100%;
  bottom: 0;
  background-color: lightblue;
  padding: 0.5em;
  border-radius: 0 0 1em 1em;
}
.tableGuest_row {
  margin: 1em;
  text-align: left;
  flex: 1 0 auto;
}
.tableGuest_row span {
  margin: 0 1em;
}

.circle__svg {
  transform: rotate(-90deg);
}
.circle__progress {
  fill: deepskyblue;
  stroke-width: 5;
  stroke-opacity: 0.3;
  stroke-linecap: round;
  stroke: steelblue;
}
.circle__progress--fill {
  --initialStroke: 0;
  --transitionDuration: 900;
  stroke-opacity: 1;
  stroke-dasharray: var(--initialStroke);
  stroke-dashoffset: var(--initialStroke);
  transition: stroke-dashoffset var(--transitionDuration) ease;
}
.occupancy {
  position: absolute;
  bottom: -3em;
  left: -3em;
}

.occupancy_fraction {
  width: 100%;
  top: 45%;
  left: 50%;
  position: absolute;
  font-weight: bold;
  text-align: center;
  line-height: 2em;
  transform: translate(-50%, -50%);
}
.seats {
  font-size: 3em;
  color: #fff;
  vertical-align: top;
}
.occupied {
  font-size: 1.5em;
  color: #fff;
}
/* Table Form: */
#tableForm .newTableInputs {
  width: fit-content;
  margin: 4em auto 1em;
}
.inputRow {
  text-align: initial;
  margin: 1em;
}
.inputRow * {
  margin: 0.5em;
}
#seats {
  width: 4em;
}

.guestForm * {
  margin: 0.5em;
}
.button__add-guest {
  border-radius: 2em;
  background-color: green;
  color: #fff;
  padding: 1em;
  font-size: 1.2em;
}

.guestTable {
  border-spacing: 1em;
  margin: 0 auto;
}
